<%= render "decodings/form", decoding: @decoding %>
<%= turbo_stream_from Current.user, "decodings" %>
<div class="records__head">
  <h3 class="records__title">Recent decodings</h3>
  <% if @decodings.any? %>
    <%= delete_link(url: all_decodings_path, label: "Delete all", title: "Delete ALL decodings?",
          message: "This permanently removes all your decodings.") %>
  <% end %>
</div>
<div data-controller="bulk-select">
  <%= form_with url: bulk_destroy_decodings_path, method: :post, id: "decoding_bulk_form",
        data: { action: "turbo:submit-end->bulk-select#reset" } do %><% end %>
  <%= render "decodings/bulk_bar" %>
  <div id="decodings" class="records"><%= render @decodings %></div>
  <%= render "decodings/more", pagy: @decodings_pagy %>
</div>
